fastapi
uvicorn[standard]

telethon

pydantic
pydantic-settings

python-multipart

aiosqlite
aiofiles

python-jose[cryptography]

passlib[bcrypt]
bcrypt

python-dotenv

httpx

redis

orjson

cachetools
